body {
    font-family: 'Impact', sans-serif; /* A bold, display font */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #3b3b3b; /* A dark background color */
    color: #f4f4f4; /* Light font color */
    position: relative;
    letter-spacing: 2px; /* Added letter spacing */
  }
  
  header {
    background-color: #545454; /* A darker header background color */
    color: #f4f4f4;
    text-align: center;
    width: 100%;
    margin-bottom: 0; /* Adjusted margin to remove the gap */
    font-size: 40px;
  }

  .header {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  #score-table {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .player {
    display: flex;
    flex-direction: column; /* Display scores in a column */
    align-items: center;
  }
  
  .red {
    color: #e74c3c; /* Red color for the "RED" string and counter */
    font-size: 36px; /* Larger font size for the "RED" string */
    width: 60px; /* Fixed width for the table cells */
    min-width: 250px;
    text-transform: uppercase; /* Make the text all capital letters */
  }
  
  .blue {
    color: #3498db; /* Blue color for the "BLUE" string and counter */
    font-size: 36px; /* Larger font size for the "BLUE" string */
    width: 60px; /* Fixed width for the table cells */
    min-width: 250px;
    text-transform: uppercase; /* Make the text all capital letters */
  }
  
  span {
    font-size: 150px; /* Size of the buttons */
    font-weight: bold;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  button {
    font-family: 'Impact', sans-serif;
    font-size: 24px;
    margin: 5px;
    text-transform: uppercase; /* Make the text all capital letters */
  }

  #reset-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #actions-info {
    text-align: center;
    margin-top: 10px; /* Added margin for spacing */
  }
  
  #actions-info .numbers, .additional-actions {
    font-size: 30px; /* Adjusted font size for the numbers */
    font-weight: bold; /* Optional: Make it bold */
  }
  
  /* Adjusted styles for the + and - buttons */
  button#plus1,
  button#plus2 {
    padding: 1px 20px; /* Set padding as a percentage of the button size */
    font-size: 100%; /* Make font size fill up the button size */
  }
  
  button#minus1,
  button#minus2 {
    padding: 10px; /* Set padding as a percentage of the button size */
    font-size: 100%; /* Make font size fill up the button size */
  }

  button#reset {
    font-family: 'Impact', sans-serif; /* Set font for the Reset button */
    padding: 10px 20px; /* Adjusted padding for the Reset button */
    font-size: 24px; /* Font size for the Reset button */
  }
  
  footer {
    background-color: #545454; /* A darker footer background color */
    color: #f4f4f4;
    padding: 5x; /* Adjusted padding for a thinner footer */
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 12px;
  }

/* Adjust the size of the images */
  img[src*="Red_"] {
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 10px;
}

  /* Adjust the size of icons */
  img[src*="_HD_Icon.png"] {
    max-width: 25px;
    max-height: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

  .faction {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .tier {
    margin-top: 20px;
}

  .unit {
    margin-top: 20px;
}

  .sub_unit {
    margin-top: 1px;
}
